<div class="container-fluid user_public_profile">
	<div class="row profile-bio">
		<div class="profile-pic"><%= image_tag current_user.avatar.url(:thumb), id: "profile-image" %></div>
		<div class="user-bio"><h1 class="user_name"><%= current_user.fname + " " + current_user.lname %></h1>
			<p><%= current_user.bio %></p>
			<p><%= current_user.location %></p>
		</div>
	</div>
	
	<div class="row user_posts">
		<%= form_for @post, remote: true do |f| %>
			<%=f.text_area :body, placeholder: "Update your status...", :class => "post_body form-control" %>
			<%=f.submit 'Post', :class => "btn btn-default postBtn" %>
		<% end %>
	</div>

	<div class="row">
		<ul class="user_posts_list">
			<%= render partial: 'post', collection: current_user.posts %>
		</ul>
	</div>

<!-- 	<h3>Interests</h3>
 -->	<%# current_user.interests.each do |interest| %>
		<%#= interest.name %>
	<%# end %>
	
</div>