<h1 class="title"><a href="/"><span id="fit">FIT</span>racker</a></h1>
<div class="page-wrapper">	
	<div class="user_wrapper">
		<div class="bio-wrapper">
			<%= render 'bio' %>
		</div>

		<div class="user-following-side-menu">
			<%= render 'follow' %>
		</div>	
		
		<div class="user-posts-section">
			<nav class="user-nav">
				<ul>
					<li id="nav-goals"><%= link_to "My Goals", user_goals_user_path(@user) %></li><!--
					--><li class="active" id="nav-posts"><%= link_to "Post Feed", @user %></li><!--
					--><li class="mobile-only"><%= link_to "Follows", user_follows_user_path(@user) %></li>
				</ul>
			</nav>
			<div class="row user_posts">
				<% if current_user and @user == current_user %>
					<%= render 'post_form' %>
				<% end %>
			</div>

			<hr class="post-form-divider">

			<div class="row">
				<ul class="user_posts_list">
					<%= render partial: 'post', collection: @user.posts %>
				</ul>
			</div>
		</div>
	</div>
</div>


















