<h1 class="title"><a href="/"><span id="fit">FIT</span>racker</a></h1>
<div class="user_wrapper">
	<div class="bio-wrapper">
		<%= render 'bio' %>
	</div>

	<div class="goals-following-side-menu">
		<%= render 'follow' %>
	</div>

	<div class="row user-goals">
		<nav class="user-nav">
			<ul>
				<li class="active" id="nav-goals"><%= link_to "My Goals", user_goals_user_path(@user) %></li><!--
				--><li id="nav-posts"><%= link_to "Post Feed", @user %></li><!--
				--><li class="mobile-only"><%= link_to "Follows", user_follows_user_path(@user) %></likj>
			</ul>
		</nav>
		<%= render 'goal' %>
	</div>
	
</div>