<h1 class="title"><a href="/"><span id="fit">FIT</span>racker</a></h1>
<div class="user_wrapper">
	<div class="bio-wrapper">
		<%= render 'bio' %>
	</div>

	<div class="follows">
		<nav class="user-nav">
			<ul>
				<li id="nav-goals"><%= link_to "My Goals", user_goals_user_path(@user) %></li><!--
				--><li id="nav-posts"><%= link_to "Post Feed", @user %></li><!--
				--><li class="mobile-only active"><%= link_to "Follows", user_follows_user_path(@user) %></li>
			</ul>
		</nav>
		<%= render 'follow' %>
	</div>
</div>


















