<h1 class="title"><a href="/"><span id="fit">FIT</span>racker</a></h1>
<div class="user_wrapper">
	<div class="bio-wrapper">
		<div class="row profile-bio">
			<div class="profile-pic"><%= image_tag @user.avatar.url(:thumb), class: "profile-image" %></div>
			<div class="user-info">	
				<h1 class="user_name"><%= @user.fname + " " + @user.lname %></h1>
				<p class="location"><%= @user.location %></p>
				<% if current_user and @user != current_user %>
					<% if current_user.followeds.include? @user %>
						<p><%= link_to 'Unfollow', unfollow_user_path(@user), method: :post %></p>
					<% else %>
						<p><%= link_to 'Follow', follow_user_path(@user),method: :post %></p>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="row user-bio">
			<p><%= @user.bio %></p>
		</div>
	</div>

	<nav class="user-nav">
		<ul>
			<li class="active" id="nav-goals"><%= link_to "My Goals", user_goals_user_path(@user) %></li>
			<li id="nav-posts"><%= link_to "Post's Feed", @user %></li>
		</ul>
	</nav>

	<div class="row user-goals">
		<ul class="user-goals-list">
			<% @user.goals.each do |goal| %>
				<li class="goal-body"><%= goal.body %></li>
				<li class="goal-created">Start Date: <%= goal.created_at.strftime("%m/%d/%Y") %></li>
				<li class="goal-timeline">Timeline: <%= display_timeline(goal) %></li>
				<li class="edit_user_goal">
					<% if current_user and @user == current_user %>
						<p class="edit-goal-link"><a href="#" class="update-progress">Update Progress</a> | <%= link_to 'Edit Goal', edit_goal_path(goal) %></p>
						<hr>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>

	<div class="row add-goals">
		<a href="#"><span class="plus">+</span><p class="add-goal-btn">Add a Goal</p></a>
		<div class="row user-goals-form">	
			<%= render 'goals/form' %>
		</div>
	</div>
	
</div>

<script>

$(document).ready(function(){
	$('.add-goal-btn').click(function(){
		$('.user-goals-form').show();
	});
});

</script>


















