<h1 class="title"><a href="/"><span id="fit">FIT</span>racker</a></h1>
<div class="row show-posts-wrapper">	
	<%= image_tag @post.user.avatar.url, class: "post-user-avatar" %>
	<div class="post-info">
		<p class="post-author"><%= link_to @post.user.fname + " " + @post.user.lname, user_path(@post.user) %></p>
		<p class="post-created"><%= @post.created_at.strftime("%b. %d, %Y") %> at <%= @post.created_at.strftime("%l:%m %p") %></p>
	</div>

	<li class="user_post_body"><%= @post.body_html %></li>
	<li class="user_post_tag"><%= link_to @post.tag, users_path %></li>

	<% if @post.image_file_name == nil %>
		<div></div>
	<% else %>
		<li class="user_post_image"><%= image_tag @post.image.url, class: "post-image" %></li>
	<% end %>

	<% if @post.video == "" %>
		<div></div>
	<% else %>
		<li class="user_post_video"><%= video_tag @post.video, width: "100%" %></li>
	<% end %>

	<li class="edit_user_post">
		<% if current_user and @user == current_user %>
			<%= link_to 'Edit Post', edit_post_path(@post) %>
		<% end %>
	</li>

	<div class="comments-section">
		<ul class="comments-list">
			<% @post.comments.each do |comment| %>
				<%= image_tag comment.user.avatar.url, class: "comment-user-avatar" %>
				<div class="comment-info">
					<p class="comment-author"><%= link_to comment.user.fname + " " + comment.user.lname, user_path(comment.user) %></p>
					<p class="comment-created"><%= comment.created_at.strftime("%B %d") %> at <%= comment.created_at.strftime("%l:%m %p") %></p>
				</div>
				<li class="comment-body"><%= comment.body %></li> 
				<li class="edit_user_comment"> 
					<% if current_user and comment.user == current_user %>
						<%= link_to 'Edit Comment', edit_post_comment_path(@post, comment) %> | <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?" } %> 
					<% end %>
				</li>
				<div class="comments-divider"></div>
			<% end %>
		</ul>
	</div>

	<%= form_for ([@post, @comment]) do |f| %>
		<%= f.text_area :body, placeholder: "Add a comment...", :class => "form-control" %>
		<%= f.submit 'Post', class: "post-comment-btn"%>
	<% end %>

</div>



















