<!DOCTYPE html>
<html>
<head>
  <title>FITracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Bowlby+One|Raleway:700,400|Montserrat+Subrayada|Open+Sans' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="javascripts/slidebars.js"></script>
</head>
<body>

<a href="#"><i class="fa fa-bars fa-2x menu-bars sb-toggle-left"></i></a>

<div class="sb-slidebar sb-left">
	<% if current_user %>
		<nav class="explore-nav">
			<ul>
				<% if current_user %>
					<li><i class="fa fa-home fa-2x menu-icon"></i><%= link_to "Home", users_path %></li>
					<li><i class="fa fa-user fa-2x menu-icon profile-icon"></i><%= link_to "Profile", current_user %></li>
					<li><i class="fa fa-star fa-2x menu-icon explore-icon"></i><%= link_to "Explore", explore_path %></li>
					<li><i class="fa fa-sign-out fa-2x menu-icon logout-icon"></i><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				<% end %>
			</ul>
		</nav>
	<% end %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>

<script>
	(function($) {
		$(document).ready(function() {
			$.slidebars();
		});
	}) (jQuery);
</script>
